@{ ViewData["Title"] = "Ролі";
    ViewData["Caption"] = "Керування Ролями"; }
@using AdminPanel.Application.Constants
<div class="card">
	<div class="col-sm-12" style="padding:20px">
		<a onclick="jQueryModalGet('/admin/role/OnGetCreate','Створити Роль')" class="btn bg-success mr-2">
			<i class="fa fa-plus-square"></i> Створити
		</a>
		<a id="reload" class="btn btn-primary text-white">
			<i class="fa fas fa-bolt"></i>
			Перезавантижити
		</a>
	</div>
	<div id="viewAll" class="card-body table-responsive">
	</div>
</div>
@section Scripts
{
    <script src="~/js/site.js"></script>
    <script>
        $(document).ready(function () {
            $("#roleTable").DataTable({
                language: {
                    url: "//cdn.datatables.net/plug-ins/1.10.18/i18n/Ukrainian.json"
                },
            });
            loadData();
            $('#reload').on('click', function () {
                loadData();
            });
        });
        function loadData() {
            $('#viewAll').load('/admin/role/LoadAll');
        }
    </script>
}
