@using Microsoft.AspNetCore.Mvc.Localization
<aside class="main-sidebar sidebar-dark-primary elevation-4">
    <a href="~/Home" class="brand-link">
        <img src="~/images/logo.png" alt="AdminLTE Logo" class="brand-image img-circle elevation-3"
             style="opacity: .8">
        <span class="brand-text font-weight-light">Панель керування</span>
    </a>
    <div class="sidebar">
        @*@if (User.Identity.IsAuthenticated)
        {
            <div class="user-panel mt-3 pb-3 mb-3 d-flex">
                <div class="image">
                    <img src="~/img/user2-160x160.jpg" class="img-circle elevation-2" alt="User Image">
                </div>
                <div class="info">
                    <a href="#" class="d-block">Hi, @User.Identity.Name </a>
                </div>
            </div>
        }
        else
        {
            <div class="user-panel mt-3 pb-3 mb-3 d-flex">
                <div class="info">
                    <a href="#" class="d-block">Hi, Visitor</a>
                </div>
            </div>
        }*@
        <nav class="mt-2">
            <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
                <li class="nav-item">
                    <a href="/" class="nav-link">
                        <i class="nav-icon fas fa-th"></i>
                        <p>Панель</p>
                    </a>
                </li>
                @if (User.Identity.IsAuthenticated)
                {
                    <li class="nav-header">Адміністратор</li>
                    <li class="nav-item has-treeview">
                        <a asp-area="Admin" class="nav-link">
                            <i class="nav-icon fas fa-tools"></i>
                            <p>
                                Керування
                                <i class="fas fa-angle-left right"></i>
                            </p>
                        </a>
                        <ul class="nav nav-treeview menu-open" style="display: none;">
                            <li class="nav-item">
                                <a asp-area="Admin" asp-controller="User" asp-action="Index" class="nav-link">
                                    <i class="fas fa-users nav-icon "></i>
                                    <p>Користувачі</p>
                                </a>
                            </li>
                            <li class="nav-item">
                                <a asp-area="Admin" asp-controller="Role" asp-action="Index" class="nav-link">
                                    <i class="fas fa-user-tag nav-icon"></i>
                                    <p>Ролі</p>
                                </a>
                            </li>
                            <li class="nav-item">
                                <a asp-controller="Identity" asp-action="Log" class="nav-link">
                                    <i class="fas fa-list nav-icon"></i>
                                    <p>Логування</p>
                                </a>
                            </li>
                        </ul>
                    </li>
                    <li class="nav-header">Редактор</li>
                    @*<li is-active-route class="nav-item has-treeview">
                        <a is-active-route asp-area="Entities" asp-controller="Worker" class="nav-link">
                            <i class="nav-icon fas fa-user"></i>
                            <p>
                                Працівники
                                <i class="fas fa-angle-left right"></i>
                            </p>
                        </a>
                        <ul class="nav nav-treeview menu-open" style="display: none;">
                            <li class="nav-item">
                                <a asp-area="Entities" asp-controller="Worker" class="nav-link">
                                    <i class="fas fa-table nav-icon "></i>
                                    <p>Показати</p>
                                </a>
                            </li>
                            <li class="nav-item">
                                <a asp-area="Entities" asp-controller="Worker" asp-action="Create" class="nav-link">
                                    <i class="fas fa-user-plus nav-icon"></i>
                                    <p>Додати</p>
                                </a>
                            </li>
                        </ul>
                    </li>*@
					<li is-active-route class="nav-item has-treeview">
						<a is-active-route asp-area="Entities" asp-controller="Community" class="nav-link">
							<i class="nav-icon fas fa-users"></i>
							<p>
								Громади
								<i class="fas fa-angle-left right"></i>
							</p>
						</a>
						<ul class="nav nav-treeview" style="display: none;">
							<li class="nav-item">
								<a asp-area="Entities" asp-controller="Community" class="nav-link">
									<i class="fas fa-table nav-icon"></i>
									<p>Показати</p>
								</a>
							</li>
							<li class="nav-item">
								<a asp-area="Entities" asp-controller="Community" asp-action="Create" class="nav-link">
									<i class="fas fa-plus nav-icon"></i>
									<p>Додати</p>
								</a>
							</li>
						</ul>
					</li>
                }
            </ul>
        </nav>
    </div>
</aside>