<div class="modal" id="logoutModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true" data-backdrop="static">
    <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Ви точно хочете вийти?</h5>
                <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
			<div class="modal-body">Вийшовиши ви завершите сесію</div>
            <div class="modal-footer">
				<button class="btn btn-secondary" type="button" data-dismiss="modal">Ні</button>
                <form class="form-inline" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Page("/account/login", new { area = "identity" })" method="post">
					<button type="submit" class="btn btn-primary">Так</button>
                </form>
            </div>
        </div>
    </div>
</div>
