@{
    ViewData["Title"] = "Громади";
}
@using WebUI.Areas.Entities.Models
@using AdminPanel.Application.Constants
@model CommunityViewModel

@{ 
    bool view = AuthorizationService.AuthorizeAsync(User, Permissions.Communities.View).Result.Succeeded;
}

@if (view)
{
    <div class="card">
        <div class="col-sm-12" style="padding:20px">

            @if ((AuthorizationService.AuthorizeAsync(User, Permissions.Communities.Create)).Result.Succeeded)
            {
                <a onclick="jQueryModalGet('/entities/community/OnGetCreateOrEdit','Створити Громаду')" class="btn bg-success">
                    <i class="fa fa-plus-square"></i> Створити
                </a>
            }

            <a id="reload" class="btn btn-primary text-white">
                <i class="fa fas fa-bolt"></i>
                Перевантажити
            </a>
        </div>

        @if (view)
        {
            <div id="viewAll" class="card-body table-responsive">
            </div>
        }
    </div>
}
else 
{
    <h2 class="text-center">Не доступно для вас</h2>
}

@section Scripts
{
    <script src="~/js/site.js"></script>
    <script>
        $(document).ready(function () {
			$("#brandTable").DataTable({
				language: {
					url: "//cdn.datatables.net/plug-ins/1.10.18/i18n/Ukrainian.json"
				},
			});
            loadData();
            $('#reload').on('click', function () {
                loadData();
            });
        });
        function loadData() {
			$('#viewAll').load('/entities/community/LoadAll');
        }
    </script>
}
