<div class="card card-primary solid-box card-outline direct-chat direct-chat-primary h-100" >
	<div class="card-header">
		<h3 class="card-title">Назва чату</h3>

		<div class="card-tools">
			<span title="3 New Messages" class="badge bg-primary">3</span>
			<button type="button" class="btn btn-tool" data-card-widget="remove">
				<i class="fas fa-times"></i>
			</button>
		</div>
	</div>
	<div class="card-body">
		<div class="direct-chat-messages h-100">
			<!-- Message. Default to the left -->
			<div class="direct-chat-msg">
				<div class="direct-chat-infos clearfix">
					<span class="direct-chat-name float-left">Alexander Pierce</span>
					<span class="direct-chat-timestamp float-right">23 Jan 2:00 pm</span>
				</div>
				<!-- /.direct-chat-infos -->
				<img class="direct-chat-img" src="~/images/users/5052c3b0-3f89-4331-9ee9-7f03db935f85.png" alt="Message User Image">
				<!-- /.direct-chat-img -->
				<div class="direct-chat-text">
					Is this template really for free? That's unbelievable!
				</div>
				<!-- /.direct-chat-text -->
			</div>
			<!-- /.direct-chat-msg -->
			<!-- Message to the right -->
			<div class="direct-chat-msg right">
				<div class="direct-chat-infos clearfix">
					<span class="direct-chat-name float-right">Sarah Bullock</span>
					<span class="direct-chat-timestamp float-left">23 Jan 2:05 pm</span>
				</div>
				<!-- /.direct-chat-infos -->
				<img class="direct-chat-img" src="~/images/users/896b0b64-1dd8-482c-a0a6-dd98677fe260.jpg" alt="Message User Image">
				<!-- /.direct-chat-img -->
				<div class="direct-chat-text">
					You better believe it!
				</div>
				<!-- /.direct-chat-text -->
			</div>
		</div>
	</div>
	<div class="card-footer">
		<form action="#" method="post">
			<div class="input-group">
				<input type="text" name="message" placeholder="Type Message ..." class="form-control">
				<span class="input-group-append">
					<button type="submit" class="btn btn-primary">Send</button>
				</span>
			</div>
		</form>
	</div>
</div>
