<footer class="main-footer border-0">
	<!-- To the right -->
	<div class="float-right d-none d-sm-inline ">

		<div class="custom-control custom-switch">
			<input type="checkbox" class="custom-control-input" id="darkSwitch">
			<label class="custom-control-label" style="font-weight:400" for="darkSwitch">Темна тема</label>
		</div>
	</div>
	<!-- Default to the left -->
	<span style="color: transparent">
		Made with <span>&hearts;</span> by <a style="color: transparent" href="https://github.com/DurkaTechnologies">Durka Technologies</a>.
	</span>
</footer>
