@using WebUI.Areas.Admin.Models
@model UserViewModel
<form id="create-form" method="post" asp-area="Admin" asp-controller="User" asp-action="OnPostCreate" onsubmit="return jQueryModalPost(this);">
    <div class="form-group row">
        <label class="col-md-3 col-form-label">Ім'я</label>
        <div class="col-md-9">
            <input type="text" asp-for="FirstName" name="FirstName" class="form-control">
            <span asp-validation-for="FirstName" class="text-danger"></span>
        </div>
    </div>
    <div class="form-group row">
        <label class="col-md-3 col-form-label">Прізвище</label>
        <div class="col-md-9">
            <input type="text" asp-for="MiddleName" name="MiddleName" class="form-control">
            <span asp-validation-for="MiddleName" class="text-danger"></span>
        </div>
    </div>
    <div class="form-group row">
        <label class="col-md-3 col-form-label">По Батькові</label>
        <div class="col-md-9">
            <input type="text" asp-for="LastName" name="LastName" class="form-control">
            <span asp-validation-for="LastName" class="text-danger"></span>
        </div>
    </div>
    <div class="form-group row">
        <label class="col-md-3 col-form-label">Пошта</label>
        <div class="col-md-9">
            <input type="email" asp-for="Email" name="Email" class="form-control">
            <span asp-validation-for="Email" class="text-danger"></span>
        </div>
    </div>
    <div class="form-group row">
        <label class="col-md-3 col-form-label">Пароль</label>
        <div class="col-md-9">
            <input type="password" asp-for="Password" name="Password" class="form-control">
            <span asp-validation-for="Password" class="text-danger"></span>
        </div>
    </div>
    <div class="form-group row">
        <label class="col-md-3 col-form-label">Повторіть пароль</label>
        <div class="col-md-9">
            <input type="password" asp-for="ConfirmPassword" name="ConfirmPassword" class="form-control">
            <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
        </div>
    </div>
    <div class="form-group">
        <div class="custom-file form-image">
            <input accept=".png,.jpg,.jpeg,.gif,.tif"
                   type="file" class="custom-file-input"
                   id="customFile"
                   name="files">
            <label class="custom-file-label" for="customFile">Виберіть картинку</label>
        </div>
    </div>

    <div class="col-md-9" data-select2-id="4">
        <div class="input-group">
            <select name="BrandId" class="form-control select2bs4 select2-hidden-accessible" id="BrandId" data-val="true" data-val-required="The BrandId field is required." data-select2-id="BrandId" tabindex="-1" aria-hidden="true">
                <option value="1" data-select2-id="2">GameStations</option>
            </select><span class="select2 select2-container select2-container--bootstrap4 select2-container--below select2-container--focus" dir="ltr" data-select2-id="1" style="width: auto;"><span class="selection"><span class="select2-selection select2-selection--single" role="combobox" aria-haspopup="true" aria-expanded="false" tabindex="0" aria-disabled="false" aria-labelledby="select2-BrandId-container"><span class="select2-selection__rendered" id="select2-BrandId-container" role="textbox" aria-readonly="true" title="GameStations">GameStations</span><span class="select2-selection__arrow" role="presentation"><b role="presentation"></b></span></span></span><span class="dropdown-wrapper" aria-hidden="true"></span></span>
        </div>
        <span class="text-danger field-validation-valid" data-valmsg-for="BrandId" data-valmsg-replace="true"></span>
    </div>

    <div class="form-group justify-content-between" style="margin-bottom: 0px !important">
        <button type="submit" class="btn btn-success">Зберегти</button>
        <button type="submit" class="btn btn-default close-button" data-dismiss="modal">Відміна</button>
    </div>
</form>
<script type="text/javascript" language=javascript>
    $.validator.unobtrusive.parse(document);
</script>
