<div class="row justify-content-center">
    <img src="https://cdn.discordapp.com/attachments/689145103582888033/882672593524649994/ezgif.com-gif-maker.gif" />
</div>
<div class="row justify-content-center">
    <img src="https://cdn.discordapp.com/attachments/689145103582888033/882672592534773840/ezgif.com-gif-maker_1.gif" />
</div>
<!-- TradingView Widget END -->
