@using MarkdownSharp
@using System.IO

<div class="container">
    @{
        string text = File.ReadAllText("../README.md");

        Markdown markdown = new Markdown();
        string html = markdown.Transform(text);
    }

    @Html.Raw(html)

    <a id="reload" class="btn text-white" href="~/ReadmeFiles/unknown.png" target="_blank"></a>
    <a id="reload" class="btn text-white" href="~/ReadmeFiles/giphy.mp4" target="_blank"></a>
    <a id="reload" class="btn text-white" href="~/ReadmeFiles/nesalo.jpeg" target="_blank"></a>
</div>
