<div class="row justify-content-center">
	<a id="reload" class="btn btn-primary text-white" href="https://github.com/DurkaTechnologies/AdminPanel/blob/master/README.md" target="_blank">
		<i class="fa fas fa-book"></i>
		Опис
	</a>
</div>
